.container {
  width: 800px;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
}

.container h3 {
  color: #666666;
  margin-top: 20px;
}

.container ul {
  margin-top: 20px;
}
.container li {
  margin-top: 10px;
  list-style-type: none;
}

.container img {
  max-width: 100px;
  margin-right: 10px;
}

.container a {
  text-decoration: none;
  color: black;
  position: relative;
  top: -25px;
}

.container a:hover {
  color: #9e8b20;
}

.deleteButton {
  float: right;
  margin-top: 25px;
}

.add-author {
  margin: 0 auto;
  width: 100px;
  height: 30px;
}

button{
  border: 1px solid #666;
  border-radius: 5px;
  outline: none;
  padding: 5px;
}

app-pagination {
  align-self: center;
}
