<div class="container">

  <input type="text" placeholder="search">
  <h3>List of all authors:</h3>
  <ul>
    <li *ngFor="let author of authors ">
      <img src="../assets/images/author.jpg">
      <a routerLink="{{ author.id }}">{{ author.first_name }} {{ author.last_name }}</a>
      <button class="deleteButton" (click)="deleteAuthor(author.id)">Delete author</button>
    </li>
  </ul>

  <button class="add-author" routerLink="create">Add new author</button>
  <app-pagination [receivedMeta]="requestMeta" (selectPage)="getAuthors($event)"></app-pagination>

</div>
