.container input {
  width: 800px;
  height: 20px;
  font-weight: bold;
  border-radius: 5px;
  border: slategrey 1px solid;
  outline: none;
  padding: 5px;
  color: black;
}

.container ul {
  margin-top: 20px;
}

.container li {
  margin-top: 5px;
}

.container a {
  text-decoration: none;
  color: black;
}

.container a:hover {
  color: #666666;
}
