/*.container {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*}*/

.container h3 {
  color: #666666;
}

.container li {
  list-style-type: none;
}

.container a {
  text-decoration: none;
  color: black;
}

.container a:hover {
  color: #9e8b20;
}

.deleteButton {
  float: right;
}

.deleteButton:hover,
.add-author:hover {
  background-color: rgba(132, 111, 148, 0.6);
}

app-pagination {
  text-align: center;
}

button {
  outline: none;
}
