@import "src/styles/variables";
@import "src/styles/mixin";

.container h3 {
  color: #666666;
}

.container a {
  text-decoration: none;
  color: black;
  &:hover {
    color: #9e8b20;
  }
}

.deleteButton {
  float: right;
}

.deleteButton:hover,
.add-author:hover {
  background-color: $button-hover-background-color;
}

app-pagination {
  text-align: center;
}

button {
  @include button-outline;
  &:active {
    @include button-active;
  }
}

img {
  max-width: 200px;
}
