<form [formGroup]="authorForm" (ngSubmit)="onSubmit(authorForm.value)">
  <fieldset>
    <label for="first_name">Enter author's first-name:
      <input id="first_name" type="text" formControlName="first_name">
    </label>
  </fieldset>
  <span *ngIf="firstName.touched && firstName.invalid && firstName.errors.required">
      First-name is required.
    </span>
  <fieldset>
    <label for="last_name">Enter author's last-name:
      <input id="last_name" type="text" formControlName="last_name">
    </label>
  </fieldset>
  <span *ngIf="lastName.touched && lastName.invalid && lastName.errors.required">
      Last-name is required.
    </span>
  <button type="submit" [disabled]="authorForm.invalid" class="submitButton">Submit author's data</button>
</form>
