<form [formGroup]="bookForm" (ngSubmit)="onSubmit(bookForm.value)">
  <fieldset>
    <label for="title">Enter book's title:
      <input id="title" type="text" formControlName="title">
    </label>
  </fieldset>
  <span *ngIf="title.touched && title.invalid && title.errors.required">
      Book's title is required.
    </span>
  <fieldset>
    <label for="description">Enter book's description:
      <input id="description" type="text" formControlName="description">
    </label>
  </fieldset>
  <span *ngIf="description.touched && description.invalid && description.errors.required">
      Book's description is required.
    </span>
  <button type="submit" [disabled]="bookForm.invalid" class="submitButton">Submit book's info</button>
</form>
