<form [formGroup]="bookForm" (ngSubmit)="onSubmit(bookForm.value)">
  <mat-form-field>
    <mat-label>Enter book's title:</mat-label>
    <input matInput id="title" name="title" type="text" formControlName="title">
  </mat-form-field>
  <span *ngIf="title.touched && title.invalid && title.errors.required">
      Book's title is required.
    </span>
  <mat-form-field>
    <mat-label>Enter book's description:</mat-label>
      <textarea matInput id="description" name="description" type="text" formControlName="description"></textarea>
  </mat-form-field>
  <span *ngIf="description.touched && description.invalid && description.errors.required">
      Book's description is required.
    </span>
  <button type="submit" [disabled]="bookForm.invalid" class="submitButton">Submit book's info</button>
</form>
