form {
  margin-top: 20px;
  margin-left: 20px;
  width: 800px;
}

fieldset {
  border: none;
}

input {
  width: 800px;
  height: 20px;
  font-weight: bold;
  border-radius: 5px;
  border: slategrey 1px solid;
  outline: none;
  padding: 5px;
  color: black;
}

.submitButton {
  width: 120px;
  height: 30px;
  border-radius: 5px;
  margin: 10px 350px;
  border: 1px solid #666;
  outline: none;
  padding: 5px;
}

.submitButton:hover {
  border: 1px #303030 solid;
  background-color: #fae884;
}

.submitButton:active {
  border: 1px #666 solid;
  background-color: white;
  opacity: 0.5;
}
