<div class="container">

  <input type="text" placeholder="search">

  <div *ngFor="let book of books ">
    <img class="book-promo" src="../assets/images/book.jpg" alt="book-promo">
    <div  class="book-description">
      <p>{{ book.title }}</p>
      <p>{{ book.description }}</p>
      <p>{{ book.price }} руб.</p>
      <a routerLink="/detail/book/{{ book.id }}">Click Here for Some Detail</a>
    </div>
  </div>

  <app-pagination [receivedPagesData]="pagesData" (selectPage)="changePage($event)"></app-pagination>
</div>
