<form [formGroup]="bookSearchForm" (ngSubmit)="setSearchValue()" class="row">

  <!-- Title -->
  <mat-form-field class="col-12">
    <mat-label>Enter book's title</mat-label>
    <input matInput type="text" name="title" formControlName="title">
  </mat-form-field>

  <!-- Price From -->
  <mat-form-field class="col-6">
    <mat-label>Enter book's price from</mat-label>
    <input matInput="number" type="number" name="priceFrom" formControlName="priceFrom" min="0">
    <mat-error *ngIf="priceFrom.touched && priceFrom.invalid && priceFrom.errors.min">
     Price can't be less than 0.
    </mat-error>
    <mat-error *ngIf="priceFrom.touched && priceFrom.invalid && priceFrom.errors.max">
      Price can't be more than end price.
    </mat-error>
  </mat-form-field>
  <!-- Price To -->
  <mat-form-field class="col-6">
    <mat-label>Enter book's price to</mat-label>
    <input matInput="number" type="number" name="priceTo" formControlName="priceTo" min="0">
    <mat-error *ngIf="priceTo.touched && priceTo.invalid && priceTo.errors.min">
      Price can't be less than 0 or start price.
    </mat-error>
  </mat-form-field>

  <div
    formGroupName="date"
    class="col-12 p-0"
    [ngClass]="dateControl.hasError('date-range-error') ? {invalid: true} : '' ">
    <!-- Date Start -->
    <mat-form-field class="col-6">
      <mat-label>Enter book's date from</mat-label>
      <input matInput [matDatepicker]="dp1" formControlName="dateStart" placeholder="mm/dd/yyyy">
      <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
      <mat-datepicker #dp1 disabled="false"></mat-datepicker>
      <mat-hint *ngIf="dateControl.hasError('date-range-error')">
        Start date cannot be later than end date.
      </mat-hint>
    </mat-form-field>

    <!-- Date End -->
    <mat-form-field class="col-6">
      <mat-label>Enter book's date till</mat-label>
      <input matInput [matDatepicker]="dp2" formControlName="dateEnd" placeholder="mm/dd/yyyy">
      <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
      <mat-datepicker #dp2 disabled="false"></mat-datepicker>
      <mat-hint *ngIf="dateControl.hasError('date-range-error')">
        End date cannot be earlier than start date.
      </mat-hint>
    </mat-form-field>

  </div>

  <div class="col-12">
    <button mat-stroked-button color="primary" type="submit" [disabled]="bookSearchForm.invalid">
      Search
    </button>
  </div>
</form>
