<form [formGroup]="bookSearchForm" (ngSubmit)="setSearchValue()" class="row">

  <!-- Title -->
  <mat-form-field class="col-12">
    <mat-label>Enter book's title</mat-label>
    <input matInput type="text" name="title" formControlName="title">
  </mat-form-field>

  <!-- Prices -->
  <app-prices class="col-12" [priceValue]="priceControl" (priceSearchValue)="setPriceSearchValue($event)"></app-prices>

  <!-- Dates -->
  <app-dates class="col-12" [dateValue]="dateControl" (dateSearchValue)="setDateSearchValue($event)"></app-dates>

  <!-- Publisher Phone Number -->
  <mat-form-field class="col-6">
    <mat-label>Enter publisher phone number</mat-label>
    <input matInput
           type="text" name="phoneNumber"
           formControlName="phoneNumber"
           [textMask]="{mask: phoneNumberMask}"
           placeholder="x(xxx)-xxx-xx-xx">
  </mat-form-field>

  <!-- Genres -->
  <mat-form-field class="col-12">
    <mat-chip-list #chipList>
      <mat-chip
        *ngFor="let genre of genres"
        [selectable]=true
        [removable]=true
        (removed)="removeGenreFromSelect(genre)">
        {{ genre }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        #genreInput
        placeholder="Enter book's genre"
        formControlName="bookGenres"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
       >
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedBookGenre($event)">
      <mat-option *ngFor="let genre of allGenres" [value]="genre">
        {{ genre.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <div class="col-12">
    <button mat-stroked-button color="primary" type="submit" [disabled]="bookSearchForm.invalid">
      Search
    </button>
  </div>
</form>
