<form [formGroup]="bookSearchForm" (ngSubmit)="setSearchValue()" class="row">

  <!-- Title -->
  <mat-form-field class="col-12">
    <mat-label>Enter book's title</mat-label>
    <input matInput type="text" name="title" formControlName="title">
  </mat-form-field>

  <!-- Prices -->
  <app-prices-form class="col-12" [priceValue]="priceControl" (priceSearchValue)="setPriceSearchValue($event)"></app-prices-form>

  <!-- Dates -->
  <app-dates-form class="col-12" [dateValue]="dateControl" (dateSearchValue)="setDateSearchValue($event)"></app-dates-form>

  <!-- Publisher Phone Number -->
  <app-phone-custom-control formControlName="phoneNumber" class="col-12 pl-0"></app-phone-custom-control>

  <!-- Genres -->
  <app-genres-custom-control formControlName="bookGenres" class="col-12 pl-0"></app-genres-custom-control>

  <div class="col-12">
    <button mat-stroked-button color="primary" type="submit" [disabled]="bookSearchForm.invalid" class="mr-3">
      Search
    </button>
    <button mat-stroked-button color="primary" type="reset" (click)="clearSearchForm()">
      Clear
    </button>
  </div>
</form>
