<form [formGroup]="authorForm" (ngSubmit)="onSubmit(authorForm.value)" class="row">

  <!-- First Name -->
  <mat-form-field class="col-12">
    <mat-label>Enter author's first-name:</mat-label>
    <input matInput id="first_name" name="first_name" type="text" formControlName="first_name" required>
    <mat-error *ngIf="firstName.touched && firstName.invalid && firstName.errors.required">
      First-name is required.
    </mat-error>
    <mat-error *ngIf="firstName.touched && firstName.invalid && firstName.errors.pattern">
      First-name must contain only letters or space and dash characters.
    </mat-error>
  </mat-form-field>

  <!-- Last Name -->
  <mat-form-field  class="col-12">
    <mat-label>Enter author's last-name:</mat-label>
    <input matInput id="last_name" name="last_name" type="text" formControlName="last_name" required>
    <mat-error *ngIf="lastName.touched && lastName.invalid && lastName.errors.required">
      Last-name is required.
    </mat-error>
    <mat-error *ngIf="lastName.touched && lastName.invalid && lastName.errors.pattern">
      Last-name must contain only letters or space and dash characters.
    </mat-error>
  </mat-form-field>

  <div class="buttonController" class="col-12">
    <button mat-stroked-button color="primary" type="submit" [disabled]="authorForm.invalid" class="formButton mr-3">Submit</button>
    <button mat-stroked-button color="primary" type="button" (click)="resetForm()" class="formButton mr-3">Reset</button>
    <button mat-stroked-button color="primary" type="reset" (click)="clearForm()" class="formButton">Clear</button>
  </div>

</form>
