<form [formGroup]="authorForm" (ngSubmit)="onSubmit(authorForm.value)">

  <!--  FIRST NAME-->
  <mat-form-field>
    <mat-label>Enter author's first-name:</mat-label>
    <input matInput id="first_name" name="first_name" type="text" formControlName="first_name">
    <mat-error *ngIf="firstName.touched && firstName.invalid && firstName.errors.required">
      First-name is required.
    </mat-error>
    <mat-error *ngIf="firstName.touched && firstName.invalid && firstName.errors.pattern">
      First-name must contain only letters or space and dash characters.
    </mat-error>
  </mat-form-field>

  <!--  LAST NAME-->
  <mat-form-field>
    <mat-label>Enter author's last-name:</mat-label>
    <input matInput id="last_name" name="last_name" type="text" formControlName="last_name">
    <mat-error *ngIf="lastName.touched && lastName.invalid && lastName.errors.required">
      Last-name is required.
    </mat-error>
    <mat-error *ngIf="lastName.touched && lastName.invalid && lastName.errors.pattern">
      Last-name must contain only letters or space and dash characters.
    </mat-error>
  </mat-form-field>

  <div class="buttonController">
    <button mat-stroked-button color="primary" type="submit" [disabled]="authorForm.invalid" class="formButton">Submit</button>
    <button mat-stroked-button color="primary" (click)="resetForm(); false" class="formButton">Reset</button>
    <button mat-stroked-button color="primary" (click)="clearForm()" class="formButton">Clear</button>
  </div>

</form>
