<mat-sidenav-container class="side-nav-container">
  <mat-sidenav mode="side" opened class="side-nav-bar">
    <h1>Books List</h1>
    <mat-nav-list>
      <a mat-list-item routerLink="books" [queryParams]="{page: 1}" routerLinkActive="active">Books</a>
      <a mat-list-item routerLink="authors" [queryParams]="{page: 1}" routerLinkActive="active">Authors</a>
    </mat-nav-list>
    <hr class="rounded">
    <button mat-stroked-button type="button" class="logoutButton ml-3" (click)="logOut()">Log Out</button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container-fluid pt-2 pb-2">
      <router-outlet></router-outlet>
      <app-toaster class="toastr"></app-toaster>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
