<button mat-stroked-button color="primary" (click)="goFirst(1)"><<</button>
<button mat-stroked-button color="primary" (click)="previousPage()"><</button>
<div *ngFor="let page of pagesAmount">
  <button mat-stroked-button color="primary" (click)="selectPageNumber(page)" [ngClass]="page === currentPageNumber ? {activeButton: activedButton} : ''">{{ page }}</button>
</div>
<button mat-stroked-button color="primary" (click)="nextPage()">></button>
<button mat-stroked-button color="primary" (click)="goLast(receivedPagesData)">>></button>
