@import "src/styles/variables";
@import "src/styles/mixin";
    
button {
  @include button-outline;
  &:hover {
    background-color: $button-hover-background-color;
    cursor: pointer;
  }
  &:disabled {
   cursor: not-allowed;
  }
  &:active {
    @include button-active;
  }
}