@import "src/styles/variables";
@import "src/styles/mixin";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-promo {
  max-width: 100px;
  max-height: 150px;
}

.container div {
  display: flex;
}

.book-description {
  display: flex;
  flex-direction: column;
}

.book-title {
  font: {
    weight: bold;
    size:20px;
    family: Lemonada, cursive;
  }
}

.book-description button {
  @include button-outline;
  &:hover {
    background-color: $button-hover-background-color;
  }
  &:active {
    @include button-active;
  }
}
