.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.book-promo {
  width: 100px;
  height: 150px;
  margin: auto 0;
}

input {
  width: 800px;
  height: 20px;
  font-weight: bold;
  border-radius: 5px;
  border: slategrey 1px solid;
  outline: none;
  padding: 5px;
  color: black;
  margin-left: 12px;
}

.container div {
  margin: 10px;
  display: flex;
  width: 600px;
}

.book-description {
  display: flex;
  flex-direction: column;
  max-width: 450px;
}

.book-description p {
  margin: 5px;
}

.book-description a {
  text-decoration: none;
  font-weight: bold;
  color: #9c9a3d;
}

.book-description a:hover {
  color: #9e8b20;
  cursor: pointer;
}

.book-title {
  font-weight: bold;
  font-size: 20px;
  font-family: Lemonada, cursive;
}
