.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-promo {
  max-width: 100px;
  max-height: 150px;
}

.container div {
  display: flex;
}

.book-description {
  display: flex;
  flex-direction: column;
}

.book-title {
  font-weight: bold;
  font-size: 20px;
  font-family: Lemonada, cursive;
}

.book-description button:hover {
  background-color: rgba(132, 111, 148, 0.6);
}

.book-description button:active {
  background-color: white;
  opacity: 0.5;
}
