<mat-accordion>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Title
      </mat-panel-title>
      <mat-panel-description>
        Search for book's title
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-search [debounce]="1000" (searchValue)="filterBooks($event)"></app-search>
  </mat-expansion-panel>

  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Search
      </mat-panel-title>
      <mat-panel-description>
        Search for book's title, price and data
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-book-search [searchValue]="queryParams" (fullSearchValue)="fullFilterBooks($event)"></app-book-search>
  </mat-expansion-panel>

</mat-accordion>

<div class="container">

  <p *ngIf="!books?.length" class="resultMessage">{{ messageError }}</p>

  <div *ngFor="let book of books" class="w-75 mt-3 mb-3">
    <img class="book-promo mr-3 mb-3" src="../assets/images/book.jpg" alt="book-promo">
    <div  class="book-description">
      <p class="book-title">{{ book.title }}</p>
      <p>{{ book.description }}</p>
      <p>{{ book.price | currency }}</p>
      <p>Publication date: ___</p>
      <p>Publisher phone number: ___</p>
      <button mat-stroked-button color="primary" type="button" (click)="openBookDetail(book)">Click Here for Some Detail</button>
    </div>
  </div>

  <app-pagination [receivedMeta]="requestMeta" (selectPage)="changeBooksPage($event)"></app-pagination>
</div>

