<app-search [debounce]="1000" (searchValue)="filterBooks(1, $event)"></app-search>

<div class="container">

  <p *ngIf="messageError" class="resultMessage">{{ messageError }}</p>

  <div *ngFor="let book of books">
    <img class="book-promo" src="../assets/images/book.jpg" alt="book-promo">
    <div  class="book-description">
      <p class="book-title">{{ book.title }}</p>
      <p>{{ book.description }}</p>
      <p>{{ book.price | currency }}</p>
      <a (click)="openBookDetail(book)">Click Here for Some Detail</a>
    </div>
  </div>

  <app-pagination [receivedMeta]="requestMeta" (selectPage)="getBooks($event, title)"></app-pagination>
</div>

