button:disabled {
    cursor: not-allowed;
  }
  
  button:hover {
    background-color: rgba(132, 111, 148, 0.6);
    cursor: pointer;
  }
      
  button {
    outline: none;
  }

  .invalid mat-hint,
  .invalid mat-label {
    color: red;
  }

  :host/deep/ .invalid .mat-form-field-underline {
    background-color: red;
  }