@import "src/styles/variables";
@import "src/styles/mixin";
      
button {
  outline: none;
  &:hover {
    cursor: pointer;
    background-color: $button-hover-background-color;
  }
  &:disabled {
    cursor: not-allowed;
  }
  &:active {
    @include button-active;
  }
}

.invalid mat-hint,
.invalid mat-label {
  color: $error-color;
}

::ng-deep .invalid .mat-form-field-underline {
  background-color: $error-color;
}