.container {
  width: 800px;
  margin: 0 auto;
}

.container h3 {
  color: #666666;
  margin-top: 10px;
}

.container input {
  width: 800px;
  height: 20px;
  font-weight: bold;
  border-radius: 5px;
  border: slategrey 1px solid;
  outline: none;
  padding: 5px;
  color: black;
}

form {
  margin-top: 10px;
}

fieldset {
  border: none;
}

input.ng-touched.ng-invalid{
  border-color: red;
}

form span {
  color: red;
  font-size: smaller;
}

.submitButton {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  margin: 10px 350px;
}

.submitButton:hover {
  border: 1px #303030 solid;
  background-color: #cdcdcd;
}

.submitButton:active {
  border: 1px #666 solid;
  background-color: white;
  opacity: 0.5;
}
