.container h3 {
  color: #666666;
}

.container input {
  font-weight: bold;
  border-radius: 5px;
  border: slategrey 1px solid;
  outline: none;
  color: black;
}

p {
  font-size: 24px;
}

img {
  max-width: 250px;
}

.change-author:hover,
.add-new-book:hover,
.back-button:hover {
  background-color: rgba(132, 111, 148, 0.6);
  cursor: pointer;
}

button {
  outline: none;
}
