@import "src/styles/variables";
@import "src/styles/mixin";

p {
  font-size: 24px;
}

img {
  max-width: 250px;
}

button {
  @include button-outline;
  &:hover {
    background-color: $button-hover-background-color;
    cursor: pointer;
  }
}
