.container {
  width: 800px;
  margin: 15px auto;
}

.container h3 {
  color: #666666;
  margin-top: 10px;
}

.container input {
  width: 800px;
  height: 20px;
  font-weight: bold;
  border-radius: 5px;
  border: slategrey 1px solid;
  outline: none;
  padding: 5px;
  color: black;
}

p {
  font-size: 24px;
  margin-bottom: 10px;
}

img {
  max-width: 250px;
  margin-bottom: 10px;
}

.change-author,
.add-new-book {
  width: 100px;
  height: 50px;
  border: 1px solid #666;
  border-radius: 5px;
  outline: none;
  margin: 10px 20px 0 0;
  padding: 5px;
}

button:hover {
  border: 1px #303030 solid;
  background-color: #fae884;
}

button:active {
  border: 1px #666 solid;
  background-color: white;
  opacity: 0.5;
}
