<div class="container-fluid mt-3">
  <button mat-stroked-button color="primary" type="button" class="back-button" (click)="goBack()">Back</button>
  <div>
  <p><b>{{ author.first_name }} {{ author.last_name | uppercase }}</b></p>
  <img src="../assets/images/author.jpg">
  </div>
    <hr>

  <div class="control-button">
    <button mat-stroked-button color="primary" type="button" class="change-author mr-3 mb-3" routerLink="/authors/{{ id }}/edit">Change author's information</button>
    <button mat-stroked-button color="primary" type="button" class="add-new-book" routerLink="/authors/{{ id }}/new_book">Add new book to author</button>
  </div>
</div>
