img {
  max-width: 100px;
  float: left;
  margin-right: 10px;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  font-family: Lemonada, cursive;
}

p {
  margin-bottom: 10px;
  max-width: 600px;
}

button {
  padding: 5px;
  margin: 10px auto;
}

button:hover {
  background-color: rgba(132, 111, 148, 0.6);
}

button:active {
  background-color: white;
  opacity: 0.5;
}
